.btn_more{padding: 20px 50px; border: 1px #ffffff solid; font-size: 14px; color: #fff; text-decoration: underline;}
.btn_more:hover{color: #000; background-color: #fff;}
header{position: fixed;width: 100%;font-family:"Nanum Myeongjo"; z-index: 10;}
header > nav{width: 100%; padding:0 auto;text-align: center;}
header > nav.active{background-color: #ffffff;}
header nav > ul{display: flex;max-width: 720px;margin: 0 auto;padding: 0 31.25%;}
header nav > ul > li{width: 25%;padding: 40px 0;}
header nav > ul > li > a{color: #fff;}
header nav > ul > li > a.active{color: #000;}
header nav > div{display: none;border-top: #dddddd 2px solid;max-width: 720px;margin: 0 auto;padding: 0 31.25%;}
header nav > div.active{display: flex;}
header nav > div > ul{width: 25%;position: relative; top:-2px;border-top: transparent 2px solid;}
header nav > div > ul:hover{background-color: #eee;border-top: #ffa608 2px solid;}
header nav > div > ul > li{padding: 20px 0;transition-duration: 0.2s;}
header nav > div > ul > li:hover{background-color: #b22234;}
header nav > div > ul > li > a{color: #444444;}
header nav > div > ul > li:hover > a{color: #ffffff;}
footer{height: 200px;font-family:"Nanum Myeongjo";background: #555555 url('../images/footer_logo.png') no-repeat center 115px;}
footer div.blackBG{background-color: #444444;}
footer div.blackBG ul{display: flex;max-width: 1400px;margin: 0 auto;padding: 40px 0;justify-content: center;}
footer div.blackBG ul li{color: #dddddd; font-size: 15px;align-items: center;}
footer div.blackBG ul li:nth-of-type(2){margin: 0 30px;}