aside{position: absolute;top: 0;right:0;height: 1000px;width: 5.2%;text-align: center;background-color: #b27406;opacity: 0.8;font-family:"Nanum Myeongjo";}
aside ul{padding: 160px 0;display: flex; margin: 0 auto; writing-mode: vertical-lr;}
aside ul > li{padding: 50px 0;}
aside ul > li > a{color: #ffffff;}
section.intro_slide{font-family:"Nanum Myeongjo";}
section.intro_slide ul li{text-align: center;width: 100%; height: 1000px;}
section.intro_slide ul li:nth-of-type(1){background:url('../images/main_slide01.png') no-repeat center center / cover;}
section.intro_slide ul li:nth-of-type(1) > h1{ text-indent: -9999px; padding:250px 0; margin: 0 auto; width: 664px; height: 300px; background: url('../images/h1_slide.png') no-repeat center center;}
section.intro_slide ul li:nth-of-type(2){background:url('../images/main_slide02.png') no-repeat center center / cover;}
section.intro_slide ul li:nth-of-type(3){background:url('../images/main_slide03.png') no-repeat center center / cover;}
section.intro_slide ul li:nth-of-type(4){background:url('../images/main_slide04.png') no-repeat center center / cover;}
section.intro_slide ul li h2{font-size: 82px; color: #fff;margin: 0 auto 45px auto; padding:250px 0 0 0; }
section.intro_slide ul li a{display: inline-block;}
section.intro_slide ul li img{display:block;margin: 0 auto 30px auto;}
section.intro_slide ul li p{margin: 0 auto 30px auto;font-size: 18px;font-weight: 700; color: #fff;}
/* section.intro_slide fin */
section.fabrit_pattern{max-width: 1400px;font-family:'Nanum Myeongjo';margin: 100px auto;text-align: center;}
section.fabrit_pattern div{display: flex;}
section.fabrit_pattern h2{font-size: 18px; line-height: 30px; color: #888888;width: 100%;margin: 100px 0;}
section.fabrit_pattern ul{width: 50%;text-align: left;}
section.fabrit_pattern ul:nth-last-of-type(2){margin: 90px 0 0 0;}
section.fabrit_pattern ul li{width: 100%;height: 430px;position: relative;transition-duration: 0.2s;}
section.fabrit_pattern ul li:hover{transform: scale(1.1);z-index: 2;box-shadow: 2px 5px 30px 2px;}
section.fabrit_pattern ul li:hover > a{background: linear-gradient(-45deg,rgba(178,34,52,0.7),rgba(255,166,8,0.7));}
section.fabrit_pattern ul:nth-last-of-type(2) li:nth-last-of-type(3){background:url('../images/fabric02.png') center center / cover;}
section.fabrit_pattern ul:nth-last-of-type(2) li:nth-last-of-type(2){background:url('../images/fabric04.png') center center / cover;}
section.fabrit_pattern ul:nth-last-of-type(2) li:nth-last-of-type(1){background:url('../images/fabric05.png') center center / cover;}
section.fabrit_pattern ul:nth-last-of-type(1) li:nth-last-of-type(3){background:url('../images/fabric01.png') center center / cover;}
section.fabrit_pattern ul:nth-last-of-type(1) li:nth-last-of-type(2){background:url('../images/fabric03.png') center center / cover;}
section.fabrit_pattern ul:nth-last-of-type(1) li:nth-last-of-type(1){background:url('../images/fabric06.png') center center / cover;}
section.fabrit_pattern ul li a{display: block;height: 100%; padding: 40px 50px; box-sizing: border-box;}
section.fabrit_pattern ul li a strong{font-size: 40px; line-height: 60px;color: #fff;text-shadow: 1px 1px 3px #000;}
section.fabrit_pattern ul li a p{ position: absolute; text-indent: -9999px; bottom: 10%; right: 10%; width: 10%; height: 50px;background:  url('../images/arrow01.png') no-repeat center center;}
/* section.fabrit_pattern fin */
section.hanbok{width: 100%;padding: 250px 0; margin: 0 0 100px 0; background: url('../images/hanbok_section01.png') no-repeat center right,url('../images/hanbok_section02.png') no-repeat center bottom; font-family: 'Nanum Myeongjo';}
section.hanbok div{max-width: 1400px; margin: 0 auto;}
section.hanbok div h2{font-size: 70px;color: #555555;margin: 0 0 20px 0;}
section.hanbok div p{font-size: 16px;color: #666666;line-height: 30px;margin: 0 0 45px 0;}
section.hanbok div ul li{border-bottom: #aaaaaa 1px solid;width:220px;display: block;}
section.hanbok div ul li a::after{content: ">";display:inline-block;position: absolute;right: 0;}
section.hanbok div ul li a{display:block; position: relative; color: #777777; font-size: 18px; font-weight: 700;padding: 20px 0;}
/* section.hanbok fin */
section.Recruitment{font-family: 'Nanum Myeongjo';margin: 100px 0;width: 100%;}
section.Recruitment h2{font-size: 70px; color: #555555;text-align: center; margin: 0 0 100px 0;}
section.Recruitment div{ background: url('../images/recruitment_sectionBG.png') no-repeat center bottom / cover;padding: 250px 0;}
section.Recruitment div ul{display: flex;max-width: 1400px;margin: 0 auto;height: 500px;}
section.Recruitment div ul li{width: 25%;height: 430px;background-color: #fff;transition-duration: 0.2s;position: relative;}
section.Recruitment div ul li:hover{top:-50px; width: 30%; height: 500px; z-index: 2; background: linear-gradient(-45deg,#b23334,#ffa608); box-shadow: 15px 0px 50px 1px;}
section.Recruitment div ul li:nth-of-type(1) dl{background: url('../images/recruitment_section01.png') no-repeat  center 100px;}
section.Recruitment div ul li:nth-of-type(2) dl{background: url('../images/recruitment_section02.png') no-repeat  center 100px;}
section.Recruitment div ul li:nth-of-type(3) dl{background: url('../images/recruitment_section03.png') no-repeat  center 100px;}
section.Recruitment div ul li:nth-of-type(4) dl{background: url('../images/recruitment_section04.png') no-repeat  center 100px;}
section.Recruitment div ul li:nth-of-type(1) dl:hover{background: url('../images/recruitment_section01_hover.png') no-repeat  center 90px;}
section.Recruitment div ul li:nth-of-type(2) dl:hover{background: url('../images/recruitment_section02_hover.png') no-repeat  center 90px;}
section.Recruitment div ul li:nth-of-type(3) dl:hover{background: url('../images/recruitment_section03_hover.png') no-repeat  center 90px;}
section.Recruitment div ul li:nth-of-type(4) dl:hover{background: url('../images/recruitment_section04_hover.png') no-repeat  center 90px;}
section.Recruitment div ul li dl{text-align: center;width: 100%;height: 100%;}
section.Recruitment div ul li dl dt{font-size: 26px; color: #888888; font-weight: 700;padding: 280px 0 0 0;}
section.Recruitment div ul li dl dd{display: none;padding: 60px 17.5% 0; line-height: 30px;font-size:16px;}
section.Recruitment div ul li dl:hover dt{padding: 230px 0 0 0;color: #fff;}
section.Recruitment div ul li dl:hover > dd{display: block;color: #fff;}
