aside{position: absolute;top: 0;right:0;height: 1000px;width: 5.2%;text-align: center;background-color: #b27406;opacity: 0.8;font-family:"Nanum Myeongjo";}
aside ul{padding: 160px 0;display: flex; margin: 0 auto; writing-mode: vertical-lr;}
aside ul > li{padding: 50px 0;}
aside ul > li > a{color: #ffffff;}
section.intro_slide{font-family:"Nanum Myeongjo";}
section.intro_slide ul li{text-align: center;width: 100%; height: 1000px;}
section.intro_slide ul li:nth-of-type(1){background:url('../images/main_slide01.png') no-repeat center center / cover;}
section.intro_slide ul li:nth-of-type(1) > h1{ text-indent: -9999px; padding:250px 0; margin: 0 auto; width: 664px; height: 300px; background: url('../images/h1_slide.png') no-repeat center center;}
section.intro_slide ul li:nth-of-type(2){background:url('../images/main_slide02.png') no-repeat center center / cover;}
section.intro_slide ul li:nth-of-type(3){background:url('../images/main_slide03.png') no-repeat center center / cover;}
section.intro_slide ul li:nth-of-type(4){background:url('../images/main_slide04.png') no-repeat center center / cover;}
section.intro_slide ul li h2{font-size: 82px; color: #fff;margin: 0 auto 45px auto; padding:250px 0 0 0; }
section.intro_slide ul li a{display: inline-block;}
section.intro_slide ul li img{display:block;margin: 0 auto 30px auto;}
section.intro_slide ul li p{margin: 0 auto 30px auto;font-size: 18px;font-weight: 700; color: #fff;}